<%-include("../layout/head")%>
<%-include("../layout/header")%>
<%-include("../layout/sidebar")%>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb mt-3">
            <li>
                <a href="/api/admin/dashboard">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li><a href="/api/admin/comments">Danh sách bình luận</a></li>
            <li class="active">Chi tiết bình luận</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Chi tiết bình luận</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="/api/admin/comments/update/<%= comment._id%>"</form>>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Người bình luận</th>
                                <td><%= comment.full_name %></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><%= comment.email %></td>
                            </tr>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <td><%= comment.product_id.name %></td>
                            </tr>
                            <tr>
                                <th>Nội dung bình luận</th>
                                <td><%= comment.description %></td>
                            </tr>
                            <tr>
                                <th>Trạng thái</th>
                                <td>
                                    <select class="form-control" name="status">
                                        <option value="active" <%= comment.status == 'active' ? "selected" : "" %> >Hiển thị</option>
                                        <option value="inactive" <%= comment.status == 'inactive' ? "selected" : "" %>>Ẩn</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Ngày tạo</th>
                                <td><%= comment.createdAt.toLocaleString() %></</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer d-flex justify-content-between" style="display:flex; justify-content:space-between; align-items:center;">
                        <div>
                            <a href="/api/admin/comments" class="btn btn-default">
                                <i class="glyphicon glyphicon-arrow-left"></i> Quay lại
                            </a>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">
                                <i class="glyphicon glyphicon-floppy-disk"></i> Lưu trạng thái
                            </button>
                            <a href="/api/admin/comments/delete/<%= comment._id%>" class="btn btn-danger ms-4" onclick="return confirm('Bạn có chắc muốn xóa bình luận này?');">
                                <i class="glyphicon glyphicon-remove"></i> Xóa bình luận
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><!--/.row-->
</div><!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<%-include("../layout/footer")%>
