<%- include("layout/head") %>
<%- include("layout/header") %>
<%- include("layout/sidebar") %>	

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb mt-3">
      <li>
        <a href="/api/admin/dashboard">
          <svg class="glyph stroked home">
            <use xlink:href="#stroked-home"></use>
          </svg>
        </a>
      </li>
      <li class="active">Cấu hình Footer</li>
    </ol>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Cấu hình Footer</h1>
    </div>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">

            <% if (message) { %>
              <div class="alert <%= success ? 'alert-success' : 'alert-danger' %>">
                <%= message %>
              </div>
            <% } %>

            <form action="/api/admin/setting/update" method="POST" enctype="multipart/form-data">

              <!-- Logo -->
              <div class="form-group">
                <label>Logo hiện tại:</label><br>
                <img src="../upload/<%= setting.thumbnail_logo %>" 
                     alt="Logo hiện tại" style="max-height:150px; margin-bottom:10px;">
                <input type="file" name="thumbnail_logo" class="form-control">
              </div>

              <!-- Description -->
              <div class="form-group">
                <label>Mô tả footer:</label>
                <textarea name="description" rows="3" class="form-control" placeholder="Nhập mô tả..."><%=  oldData.description ||  setting.description  %></textarea>
              </div>

            <!-- Copyright -->
            <div class="form-group">
                <label>Bản quyền: </label>
            
                <input type="text" name="copyright" value="<%= oldData.copyright || setting.copyright %>" class="form-control"
                    placeholder="© 2025 MyWebsite. All rights reserved.">
            </div>

              <button type="submit" name="sbm" class="btn btn-primary">Lưu thay đổi</button>
              <button type="reset" class="btn btn-default">Làm mới</button>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.col-->
  </div>
</div> <!--/.main-->

<%- include("layout/footer") %>
