<%-include("../layout/head")%>
<%-include("../layout/header")%>
<%-include("../layout/sidebar")%>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb mt-3">
                <li><a href="/admin"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li><a href="/admin/products">Quản lý sản phẩm</a></li>
				<li class="active">Thêm sản phẩm</li>
			</ol>
		</div><div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Thêm sản phẩm</h1>
			</div>
        </div><% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <div class="alert alert-danger">
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= Array.isArray(error) ? error[0].msg : error.msg %></li> 
                    <% }) %>
                </ul>
            </div>
        <% } %>

        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form role="form" method="post" action="/admin/products/store" enctype="multipart/form-data">
                            <div class="col-md-6">
                                <input type="hidden" name="status" value="active">
                                <div class="form-group">
                                    <label>Tên sản phẩm</label>
                                    <input required name="name" class="form-control" placeholder=""
                                        value="<%= (oldData && oldData[0] && oldData[0].name) ? oldData[0].name : '' %>">
                                </div>
                                                                
                                <div class="form-group">
                                    <label>Giá sản phẩm</label>
                                    <input required name="price" type="number" min="0" class="form-control"
                                        value="<%= (oldData && oldData[0] && oldData[0].price) ? oldData[0].price : '' %>">
                                </div>
                                <div class="form-group">
                                    <label>Ảnh sản phẩm</label>
                                    <input required name="image" type="file" onchange="previewImage(this);">
                                    <br>
                                    <div class="product-preview"><img id="image-preview" src="" style="max-width: 100px; display: none;"></div>
                                </div>
                                <div class="form-group">
                                    <label>Phụ kiện</label>
                                    <input required name="accessories" type="text" class="form-control"
                                        value="<%= (oldData && oldData[0] && oldData[0].accessories) ? oldData[0].accessories : '' %>">
                                </div>
                                <div class="form-group">
                                    <label>Khuyến mãi</label>
                                    <input required name="promotion" type="text" class="form-control"
                                        value="<%= (oldData && oldData[0] && oldData[0].promotion) ? oldData[0].promotion : '' %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Danh mục</label>
                                    <select required name="category_id" class="form-control">
                                        <option value="">-- Chọn danh mục --</option>
                                        <% 
                                            const oldCategoryId = (oldData && oldData[0] && oldData[0].category_id) ? oldData[0].category_id : '';
                                            categories.forEach(category => { 
                                        %>
                                            <option value="<%= category._id %>" 
                                                <%= oldCategoryId.toString() === category._id.toString() ? 'selected' : '' %>>
                                                <%= category.name %>
                                            </option>
                                        <% }); %>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label>Tình trạng</label>
                                    <select required name="is_stock" class="form-control">
                                        <option value="1" selected>Còn hàng</option> 
                                        <option value="0">Hết hàng</option>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label>Sản phẩm nổi bật</label>
                                    <div class="checkbox">
                                        <label>
                                            <input name="is_featured" type="checkbox">Nổi bật
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label>Mô tả sản phẩm</label>
                                        <textarea required name="details" class="form-control" rows="3"><%= (oldData && oldData[0] && oldData[0].details) ? oldData[0].details : '' %></textarea>
                                    </div>
                                <button name="sbm" type="submit" class="btn btn-success">Thêm mới</button>
                                <button type="reset" class="btn btn-default">Làm mới</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div></div></div>	<script>
        function previewImage(input) {
            const preview = document.getElementById('image-preview');
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '';
                preview.style.display = 'none';
            }
        }
    </script>
<%-include("../layout/footer")%>