<%-include("../layout/head")%>
<%-include("../layout/header")%>
<%-include("../layout/sidebar")%>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb mt-3">
            <li>
                <a href="/admin">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a>
            </li>
            <li class="active">Danh sách khách hàng</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danh sách khách hàng</h1>
        </div>
    </div><!--/.row-->

    <% if (success && success.length > 0) { %>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= success %>
        </div>
    <% } %>

    <% if (error && error.length > 0) { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= error %>
        </div>
    <% } %>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form action="/admin/customers" method="GET" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="search" class="form-control" placeholder="Tìm kiếm..." value="<%= search %>">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                        </button>
                        <% if (search) { %>
                            <a href="/admin/customers" class="btn btn-default">
                                <i class="glyphicon glyphicon-remove"></i> Xóa tìm kiếm
                            </a>
                        <% } %>
                    </form>
                </div>
                <div class="panel-body">
                    <table data-toolbar="#toolbar" data-toggle="table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width:50px;">STT</th>
                                <th style="width:200px;">Họ tên</th>
                                <th style="width:200px;">Email</th>
                                <th style="width:120px;">Số điện thoại</th>
                                <th style="width:250px;">Địa chỉ</th>
                                <th style="width:100px;">Vai trò</th>
                                <th style="width:150px;">Ngày đăng ký</th>
                                <th style="width:150px;">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (customers.length === 0) { %>
                                <tr>
                                    <td colspan="8" class="text-center">Không có khách hàng nào</td>
                                </tr>
                            <% } else { %>
                                <% customers.forEach((customer, index)=> { %>
                                    <tr>
                                        <td><%= (page - 1) * 10 + index + 1 %></td>
                                        <td><%= customer.fullName %></td>
                                        <td><%= customer.email %></td>
                                        <td><%= customer.phone %></td>
                                        <td>
                                            <div style="max-width:250px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;" title="<%= customer.address %>">
                                                <%= customer.address %>
                                            </div>
                                        </td>
                                        <td>
                                            <% if (customer.role === 'admin') { %>
                                                <span class="label label-danger">Admin</span>
                                            <% } else { %>
                                                <span class="label label-info">Khách hàng</span>
                                            <% } %>
                                        </td>
                                        <td>
                                            <%= new Date(customer.createdAt).toLocaleDateString('vi-VN') %><br>
                                            <small><%= new Date(customer.createdAt).toLocaleTimeString('vi-VN') %></small>
                                        </td>
                                        <td class="form-group">
                                            <a href="/admin/customers/detail/<%= customer._id %>" class="btn btn-info btn-sm" title="Xem chi tiết">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </a>
                                            <a href="/admin/customers/edit/<%= customer._id %>" class="btn btn-primary btn-sm" title="Chỉnh sửa">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                            <a href="/admin/customers/delete/<%= customer._id %>" class="btn btn-danger btn-sm"
                                                onclick="return confirm('Bạn có chắc muốn xóa khách hàng này không?');" title="Xóa">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <!-- Nút Previous -->
                            <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                                <a class="page-link" href="/admin/customers?page=<%= prev %><%= search ? '&search=' + search : '' %>">&laquo;</a>
                            </li>
                            <% for (let pageNumber of paginate) { %>
                                <% if (pageNumber==="..." ) { %>
                                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                <% } else { %>
                                    <li class="page-item <%= page === pageNumber ? 'active' : '' %>">
                                        <a class="page-link" href="/admin/customers?page=<%= pageNumber %><%= search ? '&search=' + search : '' %>">
                                            <%= pageNumber %>
                                        </a>
                                    </li>
                                <% } %>
                            <% } %>
                            <!-- Nút Next -->
                            <li class="page-item <%= page === totalPages ? 'disabled' : '' %>">
                                <a class="page-link" href="/admin/customers?page=<%= next %><%= search ? '&search=' + search : '' %>">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div><!--/.main-->

<script src="/admin/js/jquery-1.11.1.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/bootstrap-table.js"></script>
<%-include("../layout/footer")%>
