<%-include("../layout/head")%>
	<%-include("../layout/header")%>
		<%-include("../layout/sidebar")%>	
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb mt-3">
				<li><a href="/api/admin/dashboard"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Danh sách thành viên</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách thành viên</h1>
			</div>
		</div><!--/.row-->
		<div id="toolbar" class="btn-group">
            <a href="/api/admin/users/create" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Thêm thành viên
            </a>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
                        <table 
                            data-toolbar="#toolbar"
                            data-toggle="table">

						    <thead>
						    <tr>
						        <th data-field="id" data-sortable="true">ID</th>
						        <th data-field="name"  data-sortable="true">Họ & Tên</th>
                                <th data-field="price" data-sortable="true">Email</th>
                                <th>Quyền</th>
                                <th>Loại đăng nhập</th>
                                <th>Hành động</th>
						    </tr>
                            </thead>
                            <tbody>
                                <% let i=1; %>
                                    <% for (let user of users) { %>
                                        <tr>
                                            <td>
                                                <%= i++ %>
                                            </td>
                                            <td>
                                                <%= user.full_name %>
                                            </td>
                                            <td>
                                                <%= user.email %>
                                            </td>
                                            <td>
                                                <% if (user.role==="admin" ) { %>
                                                    <span class="label label-danger text-capitalize">
                                                        <%= user.role %>
                                                    </span>
                                                    <% } else { %>
                                                        <span class="label label-warning text-capitalize">
                                                            <%= user.role %>
                                                        </span>
                                                        <% } %>
                                            </td>
                                            <td>
                                                <% if (user.typeLogin==="login" ) { %>
                                                    <span class="label label-warning text-capitalize">
                                                        Thường
                                                    </span>
                                                    <% } else { %>
                                                        <% if (user.typeLogin==="loginGg" ) { %>
                                                            <span class="label label-danger text-capitalize">
                                                                Google
                                                            </span>
                                                            <% } else { %>
                                                                <span class="label label-primary text-capitalize">
                                                                    Facebook
                                                                </span>
                                                                <% } %>
                                                                    <% } %>
                                            </td>
                                            <td class="form-group">
                                                <a href="/api/admin/users/edit/<%=user._id%>" class="btn btn-primary">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </a>
                                                <a href="/api/admin/users/delete/<%=user._id%>" class="btn btn-danger"
                                                    onclick="return confirm('Bạn có chắc muốn xóa bình luận này không?');">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <% } %>
                            </tbody>
						</table>
                    </div>
                    <div class="panel-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                                    <a class="page-link" href="/api/admin/users?page=<%= prev %>">&laquo;</a>
                                </li>
                                <% for (let pageNumber of paginate) { %>
                                            <% if (pageNumber==="..." ) { %>
                                                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                                <% } else { %>
                                                    <li class="page-item <%= page === pageNumber ? 'active' : '' %>">
                                                        <a class="page-link" href="/api/admin/users?page=<%= pageNumber %>">
                                                            <%= pageNumber %>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <% } %>
                                <li class="page-item <%= page === totalPages ? 'disabled' : '' %>">
                                    <a class="page-link" href="/api/admin/users?page=<%= next %>">&raquo;</a></li>
                            </ul>
                        </nav>
                    </div>
				</div>
			</div>
		</div><!--/.row-->	
	</div>	<!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.js"></script>	
            <%-include("../layout/footer")%>

